body {
    background-image: linear-gradient(blue, orangered, white);
}
#header {
    margin:0px;
    background-color: orangered;
    background-image: linear-gradient(white,orangered,white);
    width: auto;
    text-align: center;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#img1 {
    float: left;
}
#img2 {
    float: right;
}
h1 {
    text-shadow: 4px 4px 8px red, 4px 4px 8px blue;

}

#navbar {
    background-color: rgb(238, 238, 135);
    height: auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 8px;
}

.a {
    
    font-size: 200%;
    font-weight: bolder;
    color: rgba(3, 3, 3, 0.767);
    text-decoration: none;
    padding: 10px;
    
}
.a:hover {
    background-color: rgb(124, 43, 19);
    color: rgb(231, 218, 218);
    font-size: 200%;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 10px;
    text-shadow: 6px 8px rgb(50, 7, 54);
}

footer {
    height: auto;
    background-color: rgb(49, 9, 37);
    border-radius: 5px;
    margin-top: 5px;
}
